*{
	margin:0px;
	padding:0px;
}
.fr{
	float:right;
}
.fl{
	float:left;
}
.clear :after{
    content: "";
    clear:both;
    display: block;
}
.outer{
	width:1600px;
	height:898px;
}
.header{
	width:1600px;
	height:831px;
	background:url(image11/c1.png) no-repeat;
}
.top{
	width:1600px;
	height:35px;
	background-color: #262626;
	
}
.t1{
	width:52px;
	font-size: 16px;
    font-family: "微软雅黑";
    color:#fff;
    line-height:35px;
    margin-left: 230px;
}
.t2{
    width:1000px;
    height:35px;
    margin-left: 98px;
}
.top a{
	height:35px;
    text-decoration: none;
    color:#fff;
    font-family: "微软雅黑";
    font-size:12px;
    line-height:35px;
    margin-right:44px;

}
 a.t2-1{
	margin-right: 30px;
}
.t3{width:16px;
	height:35px;
}
.t3 i{
	width:16px;
	height:19px;
	background: url(image1/h1.png) no-repeat;
	display: inline-block;
	margin-top:12px;
}
.center{
	width:1144px;
	height:725px;
	margin:39px auto;
	background: url(image11/c6.png) no-repeat;
	overflow: hidden;
}
.c1-1{
	width:107px;
	height:30px;
	font-size:14px;
	font-family: "微软雅黑";
    color:#fff;
    background-color:#cb00da;
    margin-top:28px;
    margin-left: 47px; 
    line-height: 30px;
    text-align: center;
}
.c2-1{
	width:1050px;
	height:80px;
	margin-top:20px;
	margin-left: 60px;
	border-bottom: 1px #ebebeb dashed;
}
.c2-2{
	width:58px;
	height:58px;
	background: url(image11/c2.png) no-repeat;
}
.c2-3{
	width:955px;
	height:58px;
	margin-left: 12px;
}
.ca{
	font-size:12px;
	font-family: "微软雅黑";
    color:#999999;
}
.cb{
	font-size:12px;
	font-family: "微软雅黑";
    color:#626262;
}
.cc{
	font-weight: bold;
}
.cd{
	width:13px;
	height:13px;
	background: url(image11/c5.png) no-repeat;
	margin-top:4px;
	margin-right: -20px;
	display: inline-block;
}
.c3-2{
	width:58px;
	height:58px;
	background: url(image11/c3.png) no-repeat;
}
.c5{
	border-bottom:none; 
}
.c5-2{
	width:58px;
	height:58px;
	background: url(image11/c4.png) no-repeat;
}
.center6{
	width:420px;
	height:24px;
	margin-top:10px;
	margin-right: 0px;
}
.c6-1{
	width:24px;
	height:24px;
	display: inline-block; 
	line-height: 24px;
	text-align: center;
}

.c6-2{
	width:54px;
	height:24px;
	display: inline-block;
	line-height: 24px;
	text-align: center; 
}
.c6-3{
    font-size:12px;
	font-family:"微软雅黑";
	color:#bdbdbd;
}
.c6-4{
	width:38px;
	height:24px;

}
.center6 a{
	
	text-decoration: none;
	
	font-size:12px;
	font-family:"微软雅黑"; 
	
	background-color:#ebebeb; 
}
.c6a{
	height:24px;
	width:24px;
	display: inline-block;
}
.c6b{
	height:24px;
	width:54px;
	display: inline-block;
}
.center6 a:hover{
	background-color:#7b2783;
	color: #fff;
}
.footer{
	width:1600px;
	height:66px;
	background-color: #f4f4f4;
}
.f-1{
	width:1144px;
	height:66px;
	margin:0 auto;
	font-family: "微软雅黑";
    
}
.f-2{
	height:66px;
	width:375px;
}
.f-1 a{
    text-decoration:none;
    color:#7e7e7e;
    font-family: "微软雅黑";
    font-size:12px;
    margin-right:21px;
    line-height: 66px;
}
.f-3{
	width:750px;
	font-size:12px;
	font-family: "微软雅黑";
	color:#7e7e7e;
	line-height: 66px;
}