*{
	margin:0px;
	padding:0px;
}
.fr{
	float:right;
}
.fl{
	float:left;
}
.clear :after{
    content: "";
    clear:both;
    display: block;
}
.outer{
	width:1600px;
	height:1196px;
}
.header{
	width:1600px;
	height:1120px;
	background:url(image7/c1.png) no-repeat;
}
.top{
	width:1600px;
	height:35px;
	background-color: #262626;
	
}
.t1{
	width:52px;
	font-size: 16px;
    font-family: "微软雅黑";
    color:#fff;
    line-height:35px;
    margin-left: 230px;
}
.t2{
    width:1000px;
    height:35px;
    margin-left: 98px;
}
.top a{
	height:35px;
    text-decoration: none;
    color:#fff;
    font-family: "微软雅黑";
    font-size:12px;
    line-height:35px;
    margin-right:44px;

}
 a.t2-1{
	margin-right: 30px;
}
.t3{width:16px;
	height:35px;
}
.t3 i{
	width:16px;
	height:19px;
	background: url(image1/h1.png) no-repeat;
	display: inline-block;
	margin-top:12px;
}
.center1{
	width:1140px;
	height:78px;
	font-size:16px;
	font-family: "微软雅黑";
	color:#fff;
	border-bottom:1px #1f1a2e solid;
	line-height: 88px;
	margin-left: 230px; 
}
.center2{
	width:1140px;
	height:891px;
	background-color: #fff;
	margin-left: 230px;
	margin-top:34px;
	overflow: hidden;
	position: relative;
}
.c2-1{
	width:107px;
	height:820px;
	background: url(image8/c1.png) no-repeat;
	display: inline-block;
	margin-top:23px;
	margin-left: 31px;
}
.c2{
    font-size:14px;
	font-family: "微软雅黑";
	color:#3b3b3b;
	line-height: 22px;
}
.c2a{
	width:1070px;
	height:45px;
	top: 40px;
    left: 65px;
	position: absolute;
}
.c2b{
	width:1070px;
	height:20px;
	top: 172px;
    left: 65px;
	position: absolute;
}
.c2c{
	width:1070px;
	height:103px;
	top: 285px;
    left: 65px;
	position: absolute;
}
.c2d{
	width:1070px;
	height:356px;
	top: 461px;
    left: 65px;
	position: absolute;
}
.c3{
    font-size:16px;
	font-family: "微软雅黑";
	color:#3b3b3b;
	display: inline-block;
	margin-top:22px;
}
.c2f{
	font-size:16px;
	font-family: "微软雅黑";
	width:73px;
	height:37px;
	line-height: 37px;
	text-align: center;
}
.c4{
	color:#3da4b0;
	position: absolute;
	left:57px;
	top:121px;
}
.c5{
	color:#c2992c;
	position: absolute;
	left:57px;
	top:231px;
}
.c6{
	color:#ed9b92;
	position: absolute;
	left:57px;
	top:427px;
}
.footer{
	width:1600px;
	height:78px;
	background-color: #f4f4f4;
}
.f-1{
	width:1144px;
	height:78px;
	margin:0 auto;
	font-family: "微软雅黑";
    
}
.f-2{
	height:78px;
	width:375px;
}
.f-1 a{
    text-decoration:none;
    color:#7e7e7e;
    font-family: "微软雅黑";
    font-size:12px;
    margin-right:21px;
    line-height: 78px;
}
.f-3{
	width:750px;
	font-size:12px;
	font-family: "微软雅黑";
	color:#7e7e7e;
	line-height: 78px;
}